---
import { Icon } from 'astro-icon';
---

<section class="relative" id="contact">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="max-w-3xl mx-auto text-center p-6 rounded-md shadow-xl dark:shadow-none">
				<h2 class="text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading" data-aos="fade-left">
					<span>Get In Touch</span>
				</h2>
				<p class="text-xl text-gray-600 dark:text-slate-400" data-aos="fade-left" data-aos-delay="100">
					If my profile was intriguing and you'd like to know more,<br> please feel free to contact me by mail.
				</p>
				<div class="mt-6" data-aos="fade-left" data-aos-delay="200">
					<a
						class="btn text-white bg-[#c026d3] hover:bg-[#db2777] mb-4 sm:mb-0"
						href="mailto:anirudhananth99@gmail.com"
						target="_blank"
						rel="noopener"
					>
						<svg class="text-white-500 fill-current w-6 h-6 p-0.5" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Gmail</title><path d="M24 5.457v13.909c0 .904-.732 1.636-1.636 1.636h-3.819V11.73L12 16.64l-6.545-4.91v9.273H1.636A1.636 1.636 0 0 1 0 19.366V5.457c0-2.023 2.309-3.178 3.927-1.964L5.455 4.64 12 9.548l6.545-4.91 1.528-1.145C21.69 2.28 24 3.434 24 5.457z"/></svg>
						<p class="ml-4 text-xl">Email</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
