---
const items = [
	[],
	[
		{
			title: 'HiringTek',
			description:
				'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
		},
		{
			title: 'KansasTek',
			description:
				'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
		},
		{
			title: 'PopReach',
			description:
				'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
		},
	],
	[]
];
---

<section class="scroll-mt-16" id="experience">
	<div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20 bg-primary-50 dark:bg-slate-800">
		<div class="max-w-xl mb-10 md:mx-auto text-center lg:max-w-2xl md:mb-12">
			<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading" data-aos="fade-left">
				Work Experience 
			</h2>
			<p class="max-w-3xl mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400" data-aos="fade-left" data-aos-delay="50">
				My previous contributions.
			</p>
		</div>
		<div class="grid mx-auto space-y-6 md:space-y-0" style="display: none">
			{
				items.map((subitems) => (
					<div class="space-y-8 sm:px-8">
						{subitems.map(({ title, description }) => (
							<div class="flex flex-row max-w-md">
								<div class="mb-4 mr-4">
									<div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary-500">
										<svg class="w-12 h-12 p-0.5" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
											<g fill="none" fill-rule="evenodd">
												<rect class="fill-current text-primary-600" width="64" height="64" rx="32" />
												<g stroke-linecap="square" stroke-width="2">
													<path class="stroke-current text-white" d="M20.571 20.571h13.714v17.143H20.571z" />
													<path
														class="stroke-current text-primary-300"
														d="M38.858 26.993l6.397 1.73-4.473 16.549-13.24-3.58"
													/>
												</g>
											</g>
										</svg>
									</div>
								</div>
								<div>
									<h3 class="mb-3 text-xl font-bold">{title}</h3>
									<p>{description}</p>
								</div>
							</div>
						))}
					</div>
				))
			}
		</div>
		<div class="grid justify-items-stretch">
			<div class="flex flex-row md:max-w-md pb-10 justify-self-center" data-aos="zoom-in">
				<div class="mb-4 mr-4">
					<div class="flex items-center justify-center w-12 h-12 rounded-full bg-white-500">
						<svg class="text-white-500 fill-current w-8 h-8 p-0.5" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Pinboard</title><path d="M13.352 14.585l-4.509 4.614.72-4.062L3.428 7.57 0 7.753 7.58 0v2.953l7.214 6.646 4.513-1.105-4.689 4.982L24 24l-10.648-9.415z"/></svg>
							<g fill="none" fill-rule="evenodd">
								<rect class="fill-current text-primary-600" width="64" height="64" rx="32" />
								<g stroke-linecap="square" stroke-width="2">
									<path class="stroke-current text-white" d="M20.571 20.571h13.714v17.143H20.571z" />
									<path
										class="stroke-current text-primary-300"
										d="M38.858 26.993l6.397 1.73-4.473 16.549-13.24-3.58"
									/>
								</g>
							</g>
						</svg>
					</div>
				</div>
				<div>
					<h3 class="mb-3 text-xl font-bold">HiringTek Inc.</h3>
					<div class="grid grid-cols-2 place-content-between text-start">
						<p class="max-w-3xl text-start text-sm text-gray-600 dark:text-slate-400 italic">
							Software Engineer II <br> (Full-Stack)
						</p>
						<p class="max-w-3xl text-end text-sm text-gray-600 dark:text-slate-400 italic">
							Aug '21 - June '23
						</p>
					</div>
					<ul class="list-disc">
						<li>Developed complete UI and API arch for admins for customer related crucial operations, leading to 68% improvement in admin server response times.</li>
						<li>Led the creation of a candidate recruitment portal, collaborating with and mentoring a team of 5 interns.</li>
						<li>Enhanced server-side performance using Connection Pooling and code optimizations, which resulted in 94% reduction in access times.</li>
					</ul>
				</div>
			</div>
			<div class="flex flex-row max-w-md pb-10 justify-self-center" data-aos="zoom-in">
				<div class="mb-4 mr-4">
					<div class="flex items-center justify-center w-12 h-12 rounded-full">
						<svg class="text-white-500 fill-current w-8 h-8 p-0.5" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Pinboard</title><path d="M13.352 14.585l-4.509 4.614.72-4.062L3.428 7.57 0 7.753 7.58 0v2.953l7.214 6.646 4.513-1.105-4.689 4.982L24 24l-10.648-9.415z"/></svg>
							<g fill="none" fill-rule="evenodd">
								<rect class="fill-current text-primary-600" width="64" height="64" rx="32" />
								<g stroke-linecap="square" stroke-width="2">
									<path class="stroke-current text-white" d="M20.571 20.571h13.714v17.143H20.571z" />
									<path
										class="stroke-current text-primary-300"
										d="M38.858 26.993l6.397 1.73-4.473 16.549-13.24-3.58"
									/>
								</g>
							</g>
						</svg>
					</div>
				</div>
				<div>
					<h3 class="mb-3 text-xl font-bold">KansasTek LLC</h3>
					<div class="grid grid-cols-2 place-content-between text-start">
						<p class="max-w-3xl text-start text-sm text-gray-600 dark:text-slate-400 italic">
							Software Engineer Intern
						</p>
						<p class="max-w-3xl text-end text-sm text-gray-600 dark:text-slate-400 italic">
							May '21 - July '21
						</p>
					</div>
					<ul class="list-disc">
						<li>Worked with and implemented features in AIRecruiter, a cutting-edge video interviewing and recruitment platform, expanding my understanding of the MEAN stack.</li>
						<li>Implemented features and helped fix major and minor bugs, solidifying my problem-solving and debugging skills.</li>
					</ul>
				</div>
			</div>
			<div class="flex flex-row max-w-md justify-self-center" data-aos="zoom-in">
				<div class="mb-4 mr-4">
					<div class="flex items-center justify-center w-12 h-12 rounded-full">
						<svg class="text-white-500 fill-current w-8 h-8 p-0.5" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Pinboard</title><path d="M13.352 14.585l-4.509 4.614.72-4.062L3.428 7.57 0 7.753 7.58 0v2.953l7.214 6.646 4.513-1.105-4.689 4.982L24 24l-10.648-9.415z"/></svg>
							<g fill="none" fill-rule="evenodd">
								<rect class="fill-current text-primary-600" width="64" height="64" rx="32" />
								<g stroke-linecap="square" stroke-width="2">
									<path class="stroke-current text-white" d="M20.571 20.571h13.714v17.143H20.571z" />
									<path
										class="stroke-current text-primary-300"
										d="M38.858 26.993l6.397 1.73-4.473 16.549-13.24-3.58"
									/>
								</g>
							</g>
						</svg>
					</div>
				</div>
				<div>
					<h3 class="mb-3 text-xl font-bold">PopReach Global</h3>
					<div class="grid grid-cols-2 place-content-between text-start">
						<p class="max-w-3xl text-start text-sm text-gray-600 dark:text-slate-400 italic">
							Game Developer Intern
						</p>
						<p class="max-w-3xl text-end text-sm text-gray-600 dark:text-slate-400 italic">
							Jan '20 - Mar '20
						</p>
					</div>
					<ul class="list-disc">
						<li>Worked on a strategy game called Gipsy, a player completing adventurous levels while moving and solving puzzles.</li>
						<li>Designed the splash screen, encompassing the opening interface and animations.</li>
						<li>Crafted a user-friendly Main Menu and Level Selection UX to enhance game navigation.</li>
						<li>Collaborated with senior game developers to incorporate optimal programming practices for seamless gameplay mechanics.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
