---
import { Icon } from 'astro-icon';
import Picture from '~/components/core/Picture.astro';
---

<section>
	<script>
	AOS.init();
	</script>
	<div class="max-w-6xl mx-auto px-4 sm:px-6 h-screen">
		<div class="py-12 md:py-20">
			<div class="text-center pb-10 md:pb-16">
				<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading" data-aos="fade-down">
					<span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500">Welcome to my Portfolio.</span>
				</h1>
				<div class="max-w-3xl mx-auto">
					<p class="text-xl text-gray-600 mb-8 dark:text-slate-400" data-aos="fade-down" data-aos-delay="100">
						Hi, my name is Anirudh Ananthasubramaniam.<br> I'm currently a grad student at New York University. <br> I make websites and games.
					</p>
					<div class="max-w-none px-6 flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4" data-aos="fade-down" data-aos-delay="200">
						
						<div class="flex w-full sm:w-auto">
							<a
								class="btn text-white bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-800 w-full hover:-translate-y-1"
								href="#about">About Me</a
							>
						</div>
						<div class="flex w-full sm:w-auto">
							<a
								class="btn text-white bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-800 w-full hover:-translate-y-1"
								href="#projects">Projects</a
							>
						</div>
						<div class="flex w-full sm:w-auto">
							<a
								class="btn text-white bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-800 w-full hover:-translate-y-1"
								href="#experience">Experience</a
							>
						</div>
						<div class="flex w-full sm:w-auto">
							<a
								class="btn text-white bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-800 w-full hover:-translate-y-1"
								href="#contact">Contact</a
							>
						</div>
					</div>
					<br><br>
					<div class="max-w-none px-6 flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4" data-aos="fade-down" data-aos-delay="300">
						<div class="flex w-full sm:w-auto">
							<a
								class="btn text-white border border-[#c026d3] bg-[#c026d3] hover:bg-[#db2777] hover:border-[#db2777] sm:mb-0 w-full hover:-translate-y-1"
								href="https://drive.google.com/file/d/1djwYpys0EGuHin87XnU-GVr--6u_gDDi/view?usp=sharing"
								target="_blank"
								rel="noopener"
							>
								<Icon name="tabler:cloud-download" class="w-5 h-5 mr-1 -ml-1.5" /> Resume
							</a>
						</div>
					</div>
				</div>
			</div>
			<div style="display: none">
				<div class="relative mb-8 m-auto max-w-3xl">
					<Picture
						src={import('~/assets/images/hero.jpg')}
						class="mx-auto rounded-md shadow-lg bg-gray-400 dark:bg-slate-700 w-full"
						widths={[400, 768]}
						sizes=" (max-width: 767px) 400px, 768px"
						alt="Hero Image"
						aspectRatio="16:9"
					/>
				</div>
			</div>
		</div>
	</div>
</section>
